html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
}
.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(hsl(0, 0%, 85%) 0%, hsl(0, 0%, 100%) 67%, hsl(0, 0%, 65%) 67%, hsl(0, 0%, 90%));
}
.canvas * {
    position: inherit;
    overflow: visible;
    pointer-events: none;
}
#tempBackground {
    top: 67%;
    width: 100%;
    height: 33%;
    background-color: black;
    transition: opacity 3s ease-in;
}
#plane {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: center 67%;
}
.plants {
    transition: transform 100s linear 0s, opacity 90s ease-in-out 10s;
}
.vines {
    overflow: hidden;
    transform: translate3d(-50%, 0, 0);
}
.bodies {
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.necks {
    transform: translate3d(-50%, -50%, 0);
}
.heads {
    z-index: 2;
    transform: translate3d(-50%, 0, 0);
    transition: opacity 1s ease-in;
}
.frames {
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.branches {
    bottom: 0%;
    left: 0%;
    overflow: visible;
}
.laterals, .figures, #bodyRoot {
    visibility: hidden;
}
#nullMenu {
    background-color: hsl(0, 0%, 50%);
}
#nullLogo {
    stroke: hsl(0, 0%, 100%);
}
