html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.canvas * {
    position: inherit;
    overflow: visible;
    pointer-events: none;
}
#background {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#grid {
    top: 50%;
    left: 50%;
    cursor: pointer;
}
#grid, .boxes, .paths {
    transform: translate3d(-50%, -50%, 0);
}
.boxes {
    pointer-events: auto;
    z-index: 1;
}
.cores, .patterns {
    visibility: hidden;
}
#nullMenu {
    background-color: gray;
}
#nullLogo {
    stroke: lightblue;
}
