html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
}
.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.grout {
    position: inherit;
    background-color: white;
    z-index: 3;
    transition: background-color ease-in 2s;
}
.tile {
    position: inherit;
    cursor: pointer;
    overflow: hidden;
    transition: opacity ease-in 1s;
}
.tilepart {
    position: inherit;
    overflow: hidden;
}
#nullMenu {
    background-color: gray;
}
#nullLogo {
    stroke: lightblue;
}
